* {background-color: rgba(172, 255, 47, 0.205);}

*{
    box-sizing: border-box;
    margin: 0px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 700;
    color: rgb(33, 88, 37);
}

div.monto {
    float:none;
}

div.opciones1{

    position: left;
    display: inline-end;
}

div.opciones2 {

float: right

}

nav {

    width: 100%;
    color: lightgreen;
}

div.buttom{

    position: right;
}

img{
width: 200px;
height: 200px;
justify-content: center;
}